@model IEnumerable<Panaderia_Gestion.Models.History>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Recuperar borrados", "")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.history_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.history_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_ID)
        </td>
        <td>
   
            @Html.ActionLink("Restaurar", "Edit", new { /* id=item.PrimaryKey */ })
       
        </td>
    </tr>
}

</table>
